@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 24 25% 19%;
		--foreground: 43 78% 83%;

		--primary: 43 78% 83%;
		--primary-foreground: 0 0% 6%;

		--secondary: 24 22% 24%;
		--secondary-foreground: 43 78% 83%;

		--accent: 38 100% 50%;
		--accent-foreground: 0 0% 6%;
	}
}

@layer base {
	body {
		@apply bg-background text-foreground;
	}
}

html,
body {
	height: 100%;
}
